{# src/BlogJF/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'BlogJFBlogBundle::layout.html.twig' %}

{% block title %}{{ billet.titre }}{% endblock %}

{% block body %}

    <article class="blog">
        <header>
            <h2>{{ billet.titre }}</h2>
        </header>
        <div>
            <p>{{ billet.roman |striptags|raw }}</p>
        </div>
    </article>

    <section class="commentaires" id="commentaires">
        <section class="previous-comments">
            <h3>Commentaires</h3>
            {% set marge = 0 %}
            {% set nbComm = 0 %}
            {% set i = 0 %}
            {% set index = 0 %}
            {% include "BlogJFBlogBundle:Blog:comment.html.twig" with {'marge' : 0}%}
        </section>
    </section>


    <div class = "form-comment">
        {{ form_start(form, {'action': path('blogjf_add', {'id' : billet.id, 'parentid' : null}), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'id': 'formcomment'}}) }}
        {{ form_errors(form) }}
        <br><br>
        <h4>Poster un commentaire</h4>
        {{ form_widget(form.auteur) }}
        {{ form_widget(form.commentaire, {'id': 'textareaid'}) }}
        {{ form_widget(form._token) }}

        <a href="{{ path('blogjf_accueil') }}"><input type="button" class="btn btn-danger" value="Annuler" /></a>
        <input type="submit" class="btn btn-default" value="Valider" />
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.reply').click(function(e){
                e.preventDefault();
                var $divform = $('.form-comment');
                var $this = $(this);
                var parent_id = $this.attr('data-id');
                var comment = $('#comment-' + parent_id);
                $('.parent_id').val(parent_id);
                $divform.find('h4').text('Répondre à ce commentaire');
                var $form = $('#formcomment');
                commenturl = '/Blog/web/app_dev.php/' + {{ billet.id }} + '/comment/';
                $form.attr('action', commenturl + parent_id);
                comment.after($divform);
                var textareaId = 'textareaid';
                tinyMCE.get(textareaId).remove();
                tinyMCE.execCommand("mceAddEditor", false, textareaId);

            })
        });
    </script>
{% endblock %}
